<div class='comments'>
    <article class='card-body'>
        <div>
          commented by
          {{user.username}}
        </div>
      </div>
      <div class='card-body'>
        {{comment.body}}
      </div>
    </article>
</div>


<script src="/js/comment.js"></script>