<div class="card">
  {{#each posts}}
  <a class="card" href="/dashboard/edit/{{id}}">
    <span class="card-header">
      {{title}}
      {{format_date date_created}}
      </span>
  </a>

  <div class="card-body">
  {{body}}
  </div>
    
  {{/each}}
</div>