{{!
WHEN I choose to sign up
THEN I am prompted to create a username and password
WHEN I click on the sign-up button
THEN my user credentials are saved and I am logged into the site
WHEN I revisit the site at a later time and choose to sign in
THEN I am prompted to enter my username and password
WHEN I am signed in to the site
THEN I see navigation links for the homepage, the dashboard, and the option to log out
}}
<div class="card">
  <h2>Sign Up</h2>

  {{!-- Signup Form --}}
  <div id="signup-form" class="card-body">
    <label for="username-signup">Username</label>
    <input type="text" id="username-signup" />
  </div>
  <div id="signup-form" class="card-body">
    <label for="password-signup">Password</label>
    <input type="text" id="password-signup" />
  </div>

  {{!-- Submit button --}}
  <button type="submit" id="signup-btn" class="btn">Submit</button>

  {{!-- Link to login page --}}
  <button href="/login">Already a user? Login here</button>
</div>

{{!-- Include the signup.js script --}}
<script src="/js/signup.js"></script>